<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="90%">
        <mat-toolbar color="primary">Cadastro novo usuário</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="signUpForm"
            (ngSubmit)="signup()">

            <mat-form-field>
                <input matInput formControlName="name" #nameInput placeholder="Nome completo" maxlength="60">
                <mat-error *ngIf="signUpForm.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
                <mat-hint align="end">{{nameInput.value?.length || 0}}/60</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="email" #emailInput placeholder="email" maxlength="60">
                <mat-error *ngIf="signUpForm.get('email')?.invalid">{{getErrorMessage('email')}}</mat-error>
                <mat-hint align="end">{{emailInput.value?.length || 0}}/60</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="username" #usernameInput placeholder="Usuário para login" maxlength="20">
                <mat-error *ngIf="signUpForm.get('username')?.invalid">{{getErrorMessage('username')}}</mat-error>
                <mat-hint align="end">{{usernameInput.value?.length || 0}}/20</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="password" #passwordInput type="password" placeholder="Senha" maxlength="20">
                <mat-error *ngIf="signUpForm.get('password')?.invalid">{{getErrorMessage('password')}}</mat-error>
                <mat-hint align="end">{{passwordInput.value?.length || 0}}/20</mat-hint>
            </mat-form-field>

            <button [disabled]="signUpForm.invalid || signUpForm.pending" mat-raised-button type="submit" color="primary">Cadastre</button>
        </form>
        <div class="login-form" fxLayoutAlign="stretch" fxLayout="column">
            <mat-toolbar color="accent" class="login-toolbar">Já está cadastrado?</mat-toolbar>
            <button mat-raised-button color="primary" routerLink="">Clique aqui para entrar</button>
        </div>
    </mat-card>
</div>